@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --grey: #fffbe8;
    --secondary: #666;
    --dark: #342b0c;
    --primary: #ffb606;
    --dark-grey: #f2eedc;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--grey) !important;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

a {
    text-decoration: none !important;
    color: black;
}

li {
    list-style: none;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

section {
    padding: 60px 0;
}

.background {
    background-color: var(--dark-grey);
}

/* HEADER START */

header {
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.desktop-header {
    background-color: var(--dark-grey);
    padding: 10px 0;
}

@media (max-width: 992px) {
    .desktop-header {
        display: none;
    }
}

.desktop-header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.desktop-header nav ul li {
    position: relative;
}

.desktop-header nav ul li::before {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}
.desktop-header nav ul li::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}

.desktop-header nav ul li:hover::before {
    width: 100%;
}

.desktop-header nav ul li:hover::after {
    width: 100%;
}

.desktop-header nav ul li a {
    color: black;
    font-weight: 600;
}

.icon {
    position: relative;
}

.number {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--primary);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .mobile-header {
        display: none;
    }
}

.mobile-header {
    background-color: var(--dark-grey);
    padding: 20px;
}

.mobile-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-header-top .logo svg {
    width: 120px;
}

@media (min-width: 992px) {
    .hamburger {
        display: none;
    }
}

.hamburger {
    cursor: pointer;
}

.hamburger .bar {
    display: block;
    margin: 5px 0;
    height: 3px;
    width: 30px;
    background-color: black;
    transition: 0.3s ease;
    position: relative;
    z-index: 4;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburger::after {
    content: "MENÜ";
    position: absolute;
    right: 60px;
    top: 30px;
    color: black;
    font-weight: bold;
    z-index: 4;
}

.hamburger.active::after {
    content: "KAPAT";
    color: white;
}

.hamburger.active .bar {
    color: white;
    background-color: white;
}

@media (max-width: 568px) {
    .hamburger.active::after {
        content: "";
    }

    .hamburger.active .bar {
        color: black;
        background-color: black;
    }
}

.overlay {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: none;
    pointer-events: none;
    bottom: 0;
}

.overlay.active {
    display: block;
    pointer-events: all;
}

.header-wrapper {
    background-color: white;
    width: 50%;
    height: 100vh;
    padding-top: 15px;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 3;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.header-wrapper.active {
    left: 0;
}

@media (max-width: 568px) {
    .header-wrapper {
        width: 100%;
    }
}

.mobile-logo {
    margin-bottom: 40px;
}

.header-wrapper nav {
    width: 100%;
    margin-bottom: 30px;
}

.header-wrapper nav ul li {
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-wrapper nav ul li:nth-child(odd) {
    background-color: var(--primary);
}

.header-wrapper nav ul li a {
    color: black;
    font-weight: 600;
}

.cart {
    width: 75%;
    padding: 15px 0;
    background-color: var(--dark);
    border-radius: 10px;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* HEADER END */

/* HERO START */

.hero {
    position: relative;
    padding: 0;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    position: relative;
}

@media (max-width: 992px) {
    .hero-container {
        overflow: hidden;
    }
}

.hero-container .title {
    font-size: 175px;
    font-weight: 800;
    color: var(--dark);
    position: relative;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 992px) {
    .hero-container .title {
        line-height: 1;
        font-size: 100px;
        z-index: 2;
        top: -35px;
    }
}

@media (max-width: 450px) {
    .hero-container .title {
        font-size: 75px;
        top: -63px;
    }
}

.left-bee {
    position: absolute;
    top: 100px;
    left: 0;
}

@media (max-width: 992px) {
    .left-bee {
        top: 30px;
        width: 45px;
    }
}

.center-honey {
    position: absolute;
    left: 42.5%;
    top: 0;
    height: 700px;
}

@media (max-width: 992px) {
    .center-honey {
        width: 100%;
        height: 100%;
        object-fit: contain;
        left: 25%;
        top: -120px;
    }
}

.right-bee {
    position: absolute;
    top: 40px;
    right: 0;
}

@media (max-width: 992px) {
    .right-bee {
        width: 95px;
    }
}

.dashed {
    position: absolute;
    bottom: -120px;
    left: auto;
    right: 0;
    z-index: -1;
}

@media (max-width: 450px) {
    .dashed {
        display: none;
    }
}

.left-bottom-bee {
    position: absolute;
    bottom: 0;
    left: 10%;
}

@media (max-width: 992px) {
    .left-bottom-bee {
        display: none;
    }
}

.right-bottom-bee {
    position: absolute;
    bottom: 22%;
    right: 10%;
}

@media (max-width: 992px) {
    .right-bottom-bee {
        right: 0;
        width: 45px;
        bottom: auto;
    }
}

.left-flower {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 992px) {
    .left-flower {
        bottom: -90px;
    }
}

@media (max-width: 450px) {
    .left-flower {
        width: 100px;
        bottom: -50px;
    }
}

.right-flower {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 992px) {
    .right-flower {
        bottom: -220px;
    }
}

@media (max-width: 450px) {
    .right-flower {
        bottom: 0;
        width: 100px;
    }
}

@keyframes float-up-down {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.left-bee,
.right-bee,
.left-bottom-bee,
.right-bottom-bee {
    animation: float-up-down 2s ease-in-out infinite;
}

/* HERO END */

/* WHY US START */

.why-us {
    padding: 300px 0 60px 0;
}

.why-us .container {
    position: relative;
}

.why-us .title {
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--dark);
    margin-bottom: 30px;
    padding: 0 30px;
}

@media (max-width: 992px) {
    .why-us .title {
        font-size: 40px;
    }
}

.why-us .wrapper .col-lg-4 {
    padding: 20px;
}

.why-us .wrapper .col-lg-4:nth-child(1) {
    transform: rotate(-5.81deg);
}

.why-us .wrapper .col-lg-4:nth-child(2) {
    transform: rotate(4.07deg);
}

.why-us .wrapper .col-lg-4:nth-child(3) {
    transform: rotate(-4.08deg);
}

@media (max-width: 992px) {
    .why-us .wrapper .col-lg-4 {
        padding: 0;
    }
    .why-us .wrapper .col-lg-4:nth-child(1) {
        transform: rotate(0);
    }

    .why-us .wrapper .col-lg-4:nth-child(2) {
        transform: rotate(0);
    }

    .why-us .wrapper .col-lg-4:nth-child(3) {
        transform: rotate(0);
    }
}

.why-us-img {
    overflow: hidden;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.why-us-img img {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

@media (max-width: 992px) {
    .why-us-img {
        margin-bottom: 30px;
    }

    .why-us-img img {
        width: 100%;
        transform: scale(1);
    }
}

.why-us-img:hover img {
    transform: scale(1);
}

.why-us-left-bee {
    position: absolute;
    top: 25%;
    left: -100px;
    transform: translateY(-50%);
    animation: float-up-down 2s ease-in-out infinite;
}

@media (max-width: 992px) {
    .why-us-left-bee {
        display: none;
    }
}

.why-us-top-bee,
.why-us-right-bee {
    animation: float-up-down 2s ease-in-out infinite;
}

.why-us-right-bee {
    position: absolute;
    right: 0;
    bottom: 60%;
}

/* WHY US END */

/* SERVICES START */

.services {
    position: relative;
}

.services-dashed {
    position: absolute;
    left: 0;
    bottom: -100px;
    z-index: -1;
}

@media (max-width: 992px) {
    .services-dashed {
        display: none;
    }
}

.services .top-title,
.services .bottom-title {
    font-size: 62px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--dark);
}

.services .desc {
    margin: 30px 0;
    font-size: 20px;
}

.services .button {
    display: inline-block;
    padding: 15px 60px;
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    border-radius: 30px;
    transition: all 0.3s ease;
}

@media (max-width: 992px) {
    .services-left {
        margin-bottom: 30px;
    }
}

.services-box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 30px 15px;
    transition: all 0.3s ease;
}

.services-box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}

.services-box-top-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .services-box-top-left {
        gap: 15px;
    }
}

.services-box-top-left .step {
    font-size: 22px;
    color: var(--secondary);
    font-weight: 600;
}

.services-box-top-left .title {
    font-size: 40px;
    font-weight: 900;
    color: var(--dark);
}

@media (max-width: 768px) {
    .services-box-top-left .title {
        font-size: 27px;
    }
}

.services-box-top i {
    font-size: 32px;
    color: var(--primary);
}

.services-box-bottom {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    transition: all 0.7s ease;
}

.services-box.active .services-box-bottom,
.services-box:hover .services-box-bottom {
    max-height: 500px;
    padding-top: 15px;
}

.services-box-bottom .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 768px) {
    .services-box-bottom .wrapper {
        flex-direction: column;
    }
}

.services-box-bottom .wrapper img {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.services-box-bottom .wrapper span {
    color: var(--secondary);
}

.services-box.active {
    background-color: var(--primary);
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.services-box.active .services-box-top {
    border-bottom: 1px solid white;
}

.services-box.active .step {
    color: white;
}

.services-box.active .title {
    color: white;
    -webkit-text-stroke: 1px black;
}

.services-box.active .services-box-top i {
    color: white;
}

.services-box.active .services-box-bottom {
    display: block;
}

.services-box.active .services-box-bottom .wrapper span {
    color: white;
}

.services .center-bee {
    position: absolute;
    left: 35%;
    top: 60%;
    transform: translate(-50%, -50%);
    animation: float-up-down 2s ease-in-out infinite;
}

/* SERVICES END */

/* PRODUCT START */

.product .container {
    position: relative;
}

.product .background {
    padding: 60px 0;
}

.product .title {
    font-size: 62px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--dark);
    margin-bottom: 60px;
}

.product-left-bee {
    position: absolute;
    bottom: -50px;
    left: 0;
}

.product-right-bee {
    position: absolute;
    right: 0;
    top: 0;
}

.product-top-bee {
    position: absolute;
    top: -190px;
}

.product .product-top-bee,
.product .product-left-bee,
.product .product-right-bee {
    animation: float-up-down 2s ease-in-out infinite;
}

@media (max-width: 992px) {
    .product-left-bee {
        display: none;
    }
}

.product-box {
    width: 100%;
    background-color: var(--grey);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 60px;
    padding: 0 30px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-box .image-wrapper {
    position: relative;
}

.product-box .image-wrapper img {
    margin-top: -40px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
}

.product-box .image-wrapper::after {
    content: "↓";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: var(--primary);
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease;
}

.product-box:hover .image-wrapper::after {
    bottom: 10px;
    opacity: 1;
}

.product-box:hover img {
    transform: scale(0.7);
}

.product-box-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-box .wrapper {
    display: flex;
    flex-direction: column;
}

.product-box .product-title {
    font-size: 27px;
    font-weight: 900;
    color: var(--dark);
}

.product-box .price {
    font-size: 22px;
    color: var(--primary);
    font-weight: 900;
}

.product-box button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--dark);
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* PRODUCT END */
