@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --grey: #fffbe8;
    --secondary: #666;
    --dark: #342b0c;
    --primary: #ffb606;
    --dark-grey: #f2eedc;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--grey) !important;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

a {
    text-decoration: none !important;
    color: black;
}

li {
    list-style: none;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

.desktop-header {
    background-color: var(--dark-grey);
    padding: 10px 0;
}

.desktop-header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.desktop-header nav ul li a {
    color: black;
    font-weight: 600;
}

.icon {
    position: relative;
}

.number {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--primary);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HERO START */

.hero {
    position: relative;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    position: relative;
}

.hero-container .title {
    font-size: 175px;
    font-weight: 800;
    color: var(--dark);
    position: relative;
}

.left-bee {
    position: absolute;
    top: 100px;
    left: 0;
}

.center-honey {
    position: absolute;
    left: 42.5%;
    top: 0;
    height: 700px;
}

.right-bee {
    position: absolute;
    top: 40px;
    right: 0;
}

.dashed {
    position: absolute;
    bottom: -120px;
    left: 0;
    right: 0;
    z-index: -1;
}

.left-bottom-bee {
    position: absolute;
    bottom: 0;
    left: 10%;
}

.right-bottom-bee {
    position: absolute;
    bottom: 22%;
    right: 10%;
}

.left-flower {
    position: absolute;
    bottom: 0;
    left: 0;
}

.right-flower {
    position: absolute;
    right: 0;
    bottom: 0;
}

@keyframes float-up-down {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.left-bee,
.right-bee,
.left-bottom-bee,
.right-bottom-bee {
    animation: float-up-down 2s ease-in-out infinite;
}
